@page
@model WebApp.Pages.Clientes.GridModel
@{
}

<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            Clientes
        </div>
        <div class="card-body">

            <a class="btn btn-primary" asp-page="Edit">
                <i class='bx bxs-add-to-queue'></i>
            </a>

            <div class="row">
                <div class="col-12">
                    <table id="GridView" class="table table-bordered table table-striped table table-hover">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Dirreccion</th>
                                <th>Fecha Nacimiento</th>
                                <th>Telefono</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tboby>
                            @foreach (var item in Model.GridList)
                            {
                            <tr>
                                <td>@item.Cedula</td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellidos</td>
                                <td>@item.Dirreccion</td>
                                <td>@item.FechaNacimientos.ToString("dd/MM/yyyy")</td>
                                <td>@item.Telefono</td>
                                <td>
                                    <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.Cedula"><i class='bx bx-edit-alt'></i></a>

                                    <button type="button" class="btn btn-danger" onclick="ClientesGrid.OnClickEliminar(@item.Cedula)">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tboby>
                    </table>

                </div>
            </div>



        </div>
    </div>


</div>

@section Scripts{ 

    <script defer src="~/App/Clientes/Grid.js"></script>
}